{% extends 'base.html' %}

{% block head %}
    <title>Cadastrar Restaurante</title>
{% endblock %}

{% block content %}
    <h1 class="text-center mt-3">Cadastro de restaurante</h1>
    {% if mensagem_sucesso %}
        <div class="alert alert-success alert-dismissible fade show m-3" role="alert">
            {{mensagem_sucesso}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
        </div>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="m-3">
            <label for="nome" class="form-label">Nome do Restaurante:</label>
            <input type="text" class="form-control" id="nome" name="nome" required>
        </div>
        <div class="m-3">
          <label for="endereco" class="form-label">Endereço do Restaurante (rua/avenida, número, complemento, bairro):</label>
          <input type="text" class="form-control" id="endereco" name="endereco" required>
        </div>
        <div class="m-3">
            <label for="cidade" class="form-label">Cidade/Estado:</label>
            <input type="text" class="form-control" id="cidade" name="cidade" required>
        </div>
        <div class="m-3">
            <label for="cep" class="form-label">CEP (formato 00000-000):</label>
            <input type="text" class="form-control" id="cep" name="cep" required>
        </div>
        <div class="m-3">
            <label for="telefone" class="form-label">Telefone de Contato (formato (00)00000-0000):</label>
            <input type="text" class="form-control" id="telefone" name="telefone" required>
        </div>
        <div class="m-3">
            <label for="site" class="form-label">Site (URL):</label>
            <input type="text" class="form-control" id="site" name="site" required>
        </div>
        <button type="submit" class="btn btn-primary m-3">Enviar para Cadastro</button>
    </form>
{% endblock %}