{% extends 'base.html' %}

{% block head %}
    <title>Editar Pizza</title>
{% endblock %}

{% block content %}
    <h1 class="text-center mt-3">Editar os dados cadastrados da pizza</h1>
   
    <form action="" method="post">
        {% csrf_token %}
        <div class="m-3">
          <label for="categoria" class="form-label">Categoria (Salgada, Doce, Especial...):</label>
          <input type="text" class="form-control" id="categoria" name="categoria" value="{{dados_pizza.categoria}}" required>
        </div>
        <div class="m-3">
            <label for="nome" class="form-label">Nome da Pizza:</label>
            <input type="text" class="form-control" id="nome" name="nome" value="{{dados_pizza.nome}}" required>
        </div>
        <div class="m-3">
            <label for="descricao" class="form-label">Descrição da Pizza e seus ingredientes:</label>
            <input type="text" class="form-control" id="descricao" name="descricao" value="{{dados_pizza.descricao}}" required>
        </div>
        <div class="m-3">
            <label for="urlimagem" class="form-label">URL da imagem da pizza:</label>
            <input type="text" class="form-control" id="urlimagem" name="urlimagem" value="{{dados_pizza.urlimagem}}" required>
        </div>
        <button type="submit" class="btn btn-primary m-3">Atualizar Cadastro</button>
    </form>
{% endblock %}