{% extends 'base.html' %}

{% block head %}
    <title>Pizza Comparator</title>
    <style>
        .carousel-pizza-img {
            max-width: 100% !important;
            max-height: 300px !important;
            width: auto !important;
            display: block;
            margin: auto;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>escrever texto aqui</h1>
    <p>incluir pizzas aqui</p>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://statics.angeloni.com.br/super/files/produtos/4458495/4458495_1_zoom.jpg" class="d-block carousel-pizza-img" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Primeiro slide</h5>
                <p>Alguma descrição aqui</p>
            </div>
        </div>
          <div class="carousel-item">
            <img src="https://statics.angeloni.com.br/super/files/produtos/4458495/4458495_1_zoom.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://statics.angeloni.com.br/super/files/produtos/4458495/4458495_1_zoom.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
{% endblock %}