{% extends 'base.html' %}

{% block head %}
    <title>Listar Pizzas e Preços</title>
{% endblock %}

{% block content %}
    <h1 class="text-center mt-3">Lista de todas as pizzas e pizzarias cadastradas com preço</h1>
    {% if mensagem_cadastro_atualizado %}
    <div class="alert alert-success alert-dismissible fade show m-3" role="alert">
        {{mensagem_cadastro_atualizado}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
    </div>
    {% endif %}
    {% if mensagem_exclusao %}
    <div class="alert alert-warning alert-dismissible fade show m-3" role="alert">
        {{mensagem_exclusao}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
    </div>
    {% endif %}
    {% if mensagem_erro_exclusao %}
    <div class="alert alert-danger alert-dismissible fade show m-3" role="alert">
        {{mensagem_erro_exclusao}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
    </div>
    {% endif %}
    
    <div class="m-3">
    <input class="form-control" id="myInput" type="text" placeholder="Pesquisar">
    <br>

    <table class="table">
            <thead>
                <tr>
                    <th scope="col">Pizza</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Pizzaria</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">Preço</th>
                    <th scope="col" class="text-center">Editar</th>
                    <th scope="col" class="text-center">Excluir</th>
                </tr>
            </thead>
            <tbody>
                {% for pizzaPizzaria in lista_pizzaPizzarias %}
                    <tr>
                        <td class="align-middle">{{ pizzaPizzaria.pizza.nome }}</td>
                        <td class="align-middle">{{ pizzaPizzaria.pizza.categoria }}</td>
                        <td class="align-middle">{{ pizzaPizzaria.pizzaria.nome }}</td>
                        <td class="align-middle">{{ pizzaPizzaria.pizzaria.cidade }}</td>
                        <td class="align-middle">R$ {{ pizzaPizzaria.preco |floatformat:2 }}</td>
                        <td class="align-middle text-center">
                            <a href="/editar_pizza_pizzaria/{{pizzaPizzaria.id}}" class="btn btn-primary">Editar</a>
                        </td>
                        <td class="align-middle text-center">
                            <a href="/excluir_pizza_pizzaria/{{pizzaPizzaria.id}}" class="btn btn-danger">Excluir</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block script %}
    <script>
        const input = document.getElementById("myInput");
        const table = document.querySelector("tbody"); // "table"
        const rows = table.getElementsByTagName("tr");

        input.addEventListener("keyup", function() {
            const filter = input.value.toLowerCase();
    
            for (let i = 0; i < rows.length; i++) {
                const cells = rows[i].getElementsByTagName("td");
                let found = false;
                for (let j = 0; j < cells.length; j++) {
                    const cell = cells[j];
                    if (cell.innerHTML.toLowerCase().indexOf(filter) > -1) {
                        found = true;
                        break;
                    }
                }
                rows[i].style.display = found ? "" : "none";
            }
        });
    </script>
{% endblock %}
