{% extends 'base.html' %}

{% block head %}
    <title>Página de Login</title>
{% endblock %}

{% block content %}
    <h1 class="text-center mt-3">Página de Login</h1>
    {% if mensagem_sucesso %}
    <div class="alert alert-success alert-dismissible fade show m-3" role="alert">
        {{mensagem_sucesso}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fechar"></button>
    </div>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="m-3">
          <label for="username" class="form-label">Endereço de E-mail</label>
          <input type="email" class="form-control" id="username" name="username" required aria-describedby="emailHelp">
        </div>
        <div class="m-3">
          <label for="password" class="form-label">Senha</label>
          <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary m-3">Enviar para Login</button>
    </form>
{% endblock %}