{% extends 'base.html' %}

{% block head %}
    <title>{{ dados_pizza.nome }}</title>
{% endblock %}

{% block content %}

<div class="container text-center mt-3">
    <div class="row">
      <div class="col align-middle">
        <img src="{{ dados_pizza.urlimagem }}" style="max-height: 100px;">
      </div>
      <div class="col-10">
        <h1 class="text-center">Lista de pizzarias da pizza {{ dados_pizza.nome }}</h1>
        <h5 class="text-center text-muted">Categoria: {{ dados_pizza.categoria }} ; Descricao: {{ dados_pizza.descricao }}</h5>
      </div>
    </div>
  </div>

    <div class="m-3">
    <input class="form-control" id="myInput" type="text" placeholder="Pesquisar">
    <br>

    <table class="table">
            <thead>
                <tr>
                    <th scope="col">Pizzaria</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Cidade</th>
                    <th scope="col">CEP</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Site</th>
                    <th scope="col">Preço</th>
                </tr>
            </thead>
            <tbody>
                {% for pizzaPizzaria in lista_pizzaPizzarias %}
                    <tr>
                        <td class="align-middle"><a href="/pizzaria/{{pizzaPizzaria.pizzaria.id}}">{{ pizzaPizzaria.pizzaria.nome }}</a></td>
                        <td class="align-middle">{{ pizzaPizzaria.pizzaria.endereco }}</td>
                        <td class="align-middle">{{ pizzaPizzaria.pizzaria.cidade }}</td>
                        <td class="align-middle">{{ pizzaPizzaria.pizzaria.cep }}</td>
                        <td class="align-middle">{{ pizzaPizzaria.pizzaria.telefone }}</td>
                        <td class="align-middle"><a href="http://{{pizzaPizzaria.pizzaria.site}}" target="_blank">{{ pizzaPizzaria.pizzaria.site }}</a></td>
                        <td class="align-middle">R$ {{ pizzaPizzaria.preco |floatformat:2 }}</td>   
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block script %}
    <script>
        const input = document.getElementById("myInput");
        const table = document.querySelector("tbody"); // "table"
        const rows = table.getElementsByTagName("tr");

        input.addEventListener("keyup", function() {
            const filter = input.value.toLowerCase();
    
            for (let i = 0; i < rows.length; i++) {
                const cells = rows[i].getElementsByTagName("td");
                let found = false;
                for (let j = 0; j < cells.length; j++) {
                    const cell = cells[j];
                    if (cell.innerHTML.toLowerCase().indexOf(filter) > -1) {
                        found = true;
                        break;
                    }
                }
                rows[i].style.display = found ? "" : "none";
            }
        });
    </script>
{% endblock %}
