{% extends 'base.html' %}

{% block head %}
    <title>Lista de Pizza do Restaurante</title>
{% endblock %}

{% block content %}
    <h1>escrever texto aqui</h1>
    <p>Lista das pizzas - {{ restaurante.nome }}</p>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Sabor</th>
            <th scope="col">Ingredientes</th>
            <th scope="col">Tamanhos</th>
            <th scope="col">Link</th>
          </tr>
        </thead>
        <tbody>
            {% for pizza in pizzas %}
                <tr>
                    <td>{{ pizza.nome }}</td>
                    <td>{{ pizza.ingredientes }}</td>
                    <td>
                        <ul>
                            {% for tamanho in pizza.tamanhos %}
                                <li>{{ tamanho.nome }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td><a href="/restaurante/{{pizza.restaurante.id}}/pizza/{{ pizza.id }}">Link para Pizza</a></td>
                </tr>
            {% endfor %}         
        </tbody>
      </table>
{% endblock %}